<footer class="site-footer">
    <div class="wrapper">
        <p>
            <span class="site-footer__text">Copyright &COPY; <%= new Date().getFullYear() %> Ataraxy Life. All rights reserved.</span>
            <a href="#" class="btn btn--orange open-modal">Get in Touch</a>
        </p>
        <span class="site-footer__text"> Design by <a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a> - Powered by Aristos - Node Version - 0.0.5</span>
    </div>
</footer>
<div class="modal">
    <div class="modal__inner">
        <h2 class="section-title section-title--blue section-title--less-margin">
            <span class="icon icon--mail section-title__icon"></span>
            Get in<strong>Touch</strong>
        </h2>
        <div class="wrapper wrapper--narrow">
            <p class="modal__description">We will have a better contact system in place soon...</p>
        </div>
        <!-- <div class="social-icons">
            <a href="https://www.facebook.com/ataraxyclothing/" target="_blank" class="social-icons__icon">
                <span class="icon icon--facebook"></span>
            </a>
        </div> -->
        <div class="wrapper wrapper--narrow">
            <p class="modal__description">If you need immediate assistance, please call 1-800-273-8255</p>
        </div>
    </div>
    <div class="modal__close">X</div>
</div>
 <!-- build:js(content/temp) /scripts/main.js -->
 <script src="/scripts/main.js"></script>
 <!-- endbuild -->
</body>
</html>