<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="<%= author %>">

    <title>Ataraxy Life
    </title>
    <link rel="stylesheet" href="/styles/theme.css" />
</head>

<body>
<body>
<header class="site-header">
    <div class="wrapper">
        <div class="site-header__logo">
            <div class="site-header__logo__graphic icon icon--globe">
               Ataraxy Life
            </div>
        </div>
        <div class="site-header__menu-icon">
            <div class="site-header__menu-icon__middle"></div>
        </div>
        <div class="site-header__menu-content">
            <div class="site-header__btn-container">
                <a href="#" class="btn open-modal">Get in Touch</a>
            </div>
            <nav class="primary-nav primary-nav--pull-right">
                <ul>
                    <li>
                        <a href="#our-beginning" id="our-beginning-link">Our Beginning</a>
                    </li>
                    <li>
                        <a href="#belief" id="belief-link">Beliefs</a>
                    </li>
                    <li>
                        <a href="#ourteam" id="ourteam-link">Our Team</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
